body {
    background-color: rgb(17 24 39)! important;
    color: #d5d5d5;
    font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
}

.contenedor{
    width: 95%;
    margin: 0 auto;
  background-color: rgb(19 21 26);
    padding: 20px;
    box-shadow: #cecece92 1.95px 1.95px 2.6px;
    border-radius: 10px;
}
.color{
  color: #d5d5d5;
}

.colorT{
  color: #0dcaf0;
}


.contenedor2{
  width: 95%;
  margin: 0 auto
}

.card {
    border: none ! important;
    box-shadow: #cecece92 1.95px 1.95px 2.6px;

}